<!DOCTYPE html>
<html>
    <head>
        <title>Michael E. Berkowitz</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    </head>
    <body onload="load()" onscroll="scroll()" onresize="resize()">
        <nav id="navbar" class="uk-animation-fade uk-navbar-container" uk-navbar uk-sticky="bottom: #offset">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li id="navbar-home" class="uk-active navbar-item" onclick="navbar_click(this)"><a>Home</a></li>
                    <li id="navbar-about" class="navbar-item" onclick="navbar_click(this)"><a>About</a></li>
                    <li id="navbar-projects" class="navbar-item" onclick="navbar_click(this)"><a>Projects</a></li>
                </ul>
            </div>
        </nav>
        <div id="home" class="uk-background-cover uk-height-large uk-light uk-flex uk-flex-center uk-flex-middle" uk-parallax="bgy:-300; opacity: 1,0" style="background-image: url(static/hero_transparent.png);">
            <span style="opacity:100%">
                <p id="name-text" class="uk-heading-medium uk-text-center text">MICHAEL BERKOWITZ</p>
                <p id="title-text" class="uk-text-large uk-text-center text" uk-scrollspy="cls: uk-animation-slide-top; repeat: true" style="animation-duration: 0.75s">SOFTWARE ENGINEER & PHYSICIST</p>
                <ul class="uk-subnav uk-flex-center">
                    <li uk-scrollspy="cls: uk-animation-slide-left; repeat: true" style="animation-duration: 0.75s">
                        <a id="github-icon" href="https://www.github.com/meberko" uk-icon="icon: github; ratio: 3"></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom; repeat: true" style="animation-duration: 0.75s">
                        <a id="linkedin-icon" href="https://www.linkedin.com/in/michaelberkowitz" uk-icon="icon: linkedin; ratio: 3"></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-right; repeat: true" style="animation-duration: 0.75s">
                        <a id="gmail-icon" href="mailto:m.e.berkowitz@gmail.com" uk-icon="icon: google; ratio: 3"></a>
                    </li>
                </ul>
            </span>
        </div>
        <div id="about" class="uk-container uk-padding uk-align-center" uk-scrollspy="cls:uk-animation-scale-up; repeat: true; offset-top: 300px;" style="animation-duration: 0.75s">
            <div id="about-grid" uk-grid>
                <img id="headshot" class="uk-width-1-3" data-src="{{url_for('static', filename='headshot-circle.png')}}" alt="" uk-img>
                <div class="uk-width-expand">
                    <div id="about-card" class="uk-card-default uk-card-body">
                        <h1 class="uk-card-title card-title" style="color: white">Who is this guy?</h3>
                        <div id="about-card-grid" uk-grid>
                            <div class="uk-width-1-2">
                                <div class="uk-container">
                                    <p class="card-text">
                                        <object class="uk-width-auto" type="image/svg+xml" data="{{url_for('static', filename='pin.svg')}}"></object>
                                        New York, NY
                                    </p>
                                </div>
                            </div>
                            <div class="uk-width-1-2">
                                <div class="uk-container">
                                        <div uk-icon="icon: code; ratio: 1"></div>
                                        C++
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects" class="uk-container uk-padding uk-align-center" uk-scrollspy="cls: uk-animation-scale-up; repeat: true; offset-top: 300px" style="animation-duration: 0.75s">
            <div id="project-card" class="uk-card-default uk-card-body">
                <h1 class="uk-card-title card-title" style="color: white">What has he done?</h3>
                <div id="projects-grid" uk-grid>
                    <div class="uk-width-auto@m">
                        <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                            <li><a href="#"><h3>EigenProbe</h3></a></li>
                            <li><a href="#"><h3>ScheduleBot</h3></a></li>
                            <li><a href="#"><h3>Spidey</h3></a></li>
                        </ul>
                    </div>
                    <div class="uk-width-expand@m">
                        <ul id="component-tab-left" class="uk-switcher">
                            <li>
                                EigenProbe is a simulation framework in Python built to calculate and depict the propagation of coupled light-matter (polaritonic) modes in 2D quantum materials.<br>
                                <a href="https://www.github.com/EigenProbe">Link to Github repo</a>
                            </li>
                            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}"/>
    </footer>
</html>
